@tailwind base;

.subject {
  @apply px-6 pb-16;
}

@tailwind components;
@tailwind utilities;

.bound::before {
  content: "";
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
}
.link {
  color: rgba(49, 130, 206, 255);
}

.link:hover {
  color: rgba(44, 82, 130, 255);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s !important;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.squash-enter-active,
.squash-leave-active {
  transform-origin: top center;
  transition: transform 0.3s !important;
}

.squash-enter,
.squash-leave-to {
  transform: scaleY(0);
}
